gunicorn==21.2.0
fastapi>=0.97.0
uvicorn[standard]>=0.22.0
pandas>=1.5.3
scikit-learn>=1.2.2
joblib>=1.2.0
python-multipart>=0.0.6
pydantic>=1.10.8
pyshark>=0.5.3
requests>=2.28.0
gdown>=4.6.6
xgboost>=1.6.0
